
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: sans-serif;
}

header{
  width: 100%;
  max-width: 736px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

main{
  width: 100%;
  max-width: 736px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search-section{
  border-radius: 16px;
  padding: 10px;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 736px;
}
#select-option #fontStyle{
  margin-right: 10px;
  border-radius: 16px;
  padding: 0.7em 1em;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  font-size: 16px;
  max-width: 100%;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 
    rgba(0, 0, 0, 0.2), 
    0 6px 20px 0 
    rgba(0, 0, 0, 0.19);
}


input{
  padding: 10px;
  border: none;
  background: transparent;
  width: 100%;
  outline: none;
}

input::placeholder{
  font-size: large;
  font-weight: 400;
  color: #757575;
}

#search-section:hover{
  border: 2px solid #A445ED;
}

#input:focus#search-section {
  border: 2px solid #A445ED;
}

nav{
   margin: 15px 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

.fontStyle{
    border: none;
}
/* .fontStyle option */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #A445ED;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #A445ED;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


  .search-button{
    width: 30px;
    cursor: pointer;
  }

  .result ul li{
    max-width: 737px;
    width: 100%;
    list-style-type: none;
   
  }

  .result ul{
    margin:10px 0;
    padding-left: 15px;
  }

  .result ul li::before{
    content: '\2022';
    box-sizing: border-box;
   padding-right: 10px;
   color: #A445ED;
}

.result h2{
    font-size: 64px;
}

.result p{
    color: #A445ED;
    font-size: 24px;
}

 .result h5 a{
    color:#E9E9E9;
 }
  .partOfSpeech{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .line{
    max-width: 700px;
    width: 100%;
    height: 1px;
    background: #f4f4f4;
}

.play{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 10px 0;
}

.play svg{
    cursor: pointer;
}
.meaning{
    margin-top: 50px;
    color: #f4f4f4;
  }

  .error-message{
    text-align: center;
    margin-top: 50px;
  }

footer{
 margin-top: 50px;
}
.dark-mode .moon-icon{
    content: url('./assets/images/iconoir_half-moon.png');
}

/*DARK MODE*/
.dark-mode{
    background-color: #050505 ;
    color: #FFFF;
}

.dark-mode #search-section{
    background-color: #2D2D2D;
}

.dark-mode #search-input::placeholder{
    color:#757575;
}

.dark-mode #search-input{
    background-color: #2D2D2D;
    color: #f4f4f4;
    font-size: 16px;
}

.dark-mode .error-message p{
    color:#757575;
    margin: 10px 0;
}

.dark-mode #select-option #fontStyle{
  background-color: #2D2D2D;
  color:#757575;
}

.dark-mode #select-option #fontStyle:hover option{
  background-color:#050505;
  color: #757575;
  box-shadow: 0 4px 8px 0 
      rgba(214, 11, 228, 0.2), 
      0 6px 20px 0 
      rgba(214, 11, 228, 0.2);
  border-radius: 7px;
  cursor: pointer;
}